

* {
	box-sizing: border-box;
	margin: 0.3%;
	padding: 0px;
	}

.h1{
	text-align: center;
	margin-bottom: 10px;
}


.row {
  width: 100%;
}

.title_head{
	float: right;
	border: 1px solid black;
	background-color: #F0E68C;
	width: 100px;
	margin:0px;
  text-align: center;
}
.title_head1{
  float: right;
	border: 1px solid black;
	background-color: #E9967A;
	width: 100px;
	margin:0px;
  padding: 0px;
	text-align: center;

}

.title_head2{
	float: right;
	border: 1px solid black;
	background-color: #B22222;
	width: 100px;
	margin:0px;
	text-align: center;

}
.p{
	clear: both;
  margin: 2px;
  padding: 2px;
}

@media (min-width: 992px) {
 .col-lg-4 {
    float: left;
    border: 1px solid black;
    height: 300px;
    overflow: auto;
    background-color: grey;
   }
  .col-lg-4 {
    width: 32%;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12{
    float: left;
    border: 1px solid black;
    height: 300px;
    overflow: auto;
    background-color: grey;
  }
  .col-md-6{
    width: 49%;
}
.col-md-12{
	width: 100%;
}
}

@media (max-width:767px)  {
 .col-ls-12{
   float: left;
    border: 1px solid black;
    height: 300px;
    overflow: auto;
     background-color: grey;
  }
  .col-ls-12{
    width: 100%;
  }
}