body{
	font-size: 16px;
	background-color: #61122f;
	color: #FFFFFF;
	font-family: 'Oxygen', sans-serif;
}

#header-nav{
	border-radius: 0px;
	background-color: #f6b319;
	border: 0 px;
}


#logo-img {
    width: 150px;
    height: 150px;
    background: url(../images/logo-img.jpg) no-repeat;
  	margin: 10px 15px 10px 0;

 
}
